@model CategoryViewModel
<div class="container w-50">
    <h1 class="display-6 text-primary mt-5">Kategori düzenle</h1>
    <hr />
    <form asp-area="Admin"
          asp-controller="Category"
          asp-action="Edit"
          method="post">
        <div class="row ">
            <div class="col-md-6 mb-3">
                <label class="form-label">Kategori Adı</label>
                <input asp-for="Name" class="form-control" type="text" />
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Açıklama</label>
                <input asp-for="Description" class="form-control" type="text" />
            </div>
            <div class="col-md-6">
                <label class="form-label">Url</label>
                <input asp-for="Url" class="form-control" type="text" />
            </div>
            <div class="col-md-6 mt-4">

                <button type="submit" class="btn btn-success w-100">Güncelle</button>
            </div>
        </div>
    </form>

</div>

